* {
  box-sizing: border-box;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;  
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #fff;
  color: #13191b;
  line-height: 1.7;
  font-size: 13px;
}
header{
  height:300px;
  background:url(img/5aafae338835b1fd1119f273565bd3de1.jpg);
  background-size:cover;
  padding-top:45px;
}
.header-contact{
  width:85%;
  margin:0 auto;
}
.header-logo{
  float:left;
}
.header-list{
  float:right;
  padding-top:30px;
}
.header-list li{
  float:left;
  padding-right:40px;
}
.header-list li a{
  color:white;
  font-size:14px;
}
.header-list li a:hover{
  border-bottom:2px solid white;
  padding-bottom:8px;
}
.new-wrapper{
  padding:110px 0 115px 0;
  background-color:#f6f6f6;
}
.container{
  width:70%;
  margin:0 auto;
}
.new-wrapper h1{
  font-size:30px;
  padding-bottom:70px;
}
.new-item{
  display:flex;
  padding-bottom:55px;
}
.new-icon{
  width:40%;
}
.new-icon img{
  width:100%;
  padding-right:25px;
}
.new-textarea{
  width:60%;
}
.new-textarea h2{
  font-size:18px;
  padding-bottom:15px;
}
.data{
  font-size:12px;
  padding-bottom:25px;
}
.btn1-wrapper{
  padding:110px 0 125px 0;
  background-color:#f6f6f6;
  text-align:center;
}
.btn1{
  width:210px;
  display:inline-block;
}
.signup{
  border:1px solid black;
  padding:15px 0;
  color:black;
}
.signup:hover{
  background-color:black;
  color:white;
}
.btn-wrapper{
  text-align:center;
  padding:35px 0;
}
.btn{
  margin-right:20px;
  display:inline-block;
  width:160px;
}
.facebook{
  border:1px solid #4871a9;
  padding:15px 0;
  color:#4871a9;
}
.facebook:hover{
  color:white;
  background-color:#4871a9;
}
.twitter{
  border:1px solid #70bdd3;
  padding:15px;
  color:#70bdd3;
}
.twitter:hover{
  color:white;
  background-color:#70bdd3;
}
.Bookmark{
  border:1px solid #2f9bcd;
  padding:15px 0;
  color:#2f9bcd;
}
.Bookmark:hover{
  color:white;
  background-color:#2f9bcd;
}
.top-wrapper{
  padding:35px 0;
  background-color:#939899;
  text-align:center;
}
.top-list span{
  display:inline-block;
  padding-right:30px;
}
.top-list span a{
  color:white;
  font-size:14px;
}
.top-list span a:hover{
  opacity:0.6;
}
footer{
  background-color:#656c6e;
  padding:30px 0;
  height:180px;
}
.footer-logo{
  float:left;
}
.footer-right{
  padding-top:40px;
}
.footer-right p{
  float:right;
  color:white;
}